body {
  	width: 99%;
	margin: 0 auto;
	Font: 12pt/1.5em Verdana, "Sans-serif", Arial;
	background-color: #002244;
}

p {	margin: 5px;
}


header {
	border-style: hidden;
	background-color: #002244;
	text-align: center;
}

h1 {
	font-size: 60px;
	font-family: Verdana, "Sans-serif", Arial;
	text-align: center;	
  	color: white;
}

h3 {
	font-size: 24px;
	font-family: Verdana, "Sans-serif", Arial;
	text-align: center;	
  	color: #C60C30;
}

h4 {
	font-size: 24px;
	font-family: Verdana, "Sans-serif", Arial;
	text-align: center;	
  	color: #C60C30;
	text-decoration: underline;
}
h5 {
	font-size: 24px;
	font-family: Verdana, "Sans-serif", Arial;
	text-align: center;	
  	color: white;
	text-decoration: underline;
}
nav {

}






.clearfix:after {
	display:block;
	clear:both;
}

.menu-wrap {
	width:100%;
	background: darkorange;
	
}

.menu {
	width:1000px;
	margin:0px auto;
}

.menu li {
	margin:0px;
	list-style:none;
	font-family: Verdana, "Sans-serif", Arial;
}

.menu a {
	transition:all linear 0.15s;
	color:white;
}

.menu li:hover > a, .menu .current-item > a {
	text-decoration:none;
	color:white;
}

.menu .arrow {
	font-size:11px;
	line-height:0%;
}

.menu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
	font-size:19px;
}

.menu > ul > li > a {
	padding:10px 40px;
	display:inline-block;
	text-shadow:white;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
	background:red;
}

.menu li:hover .sub-menu {
	z-index:1;
	opacity:1;
}

.sub-menu {
	width:100%;
	padding:5px 0px;
	position:absolute;
	top:100%;
	left:0px;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	box-shadow:red;
	
}

.sub-menu li {
	display:block;
	font-size:14px;
}

.sub-menu li a {
	padding:10px 30px;
	display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
	background:red;
}


ul {
  	background: darkorange;
    	list-style: none;
   	margin: 0;
    	padding-left: 0;
	position: absolute;
	border-radius: 8px;
	}

li {
    	color: #fff;
  	background: darkorange;
    	display: block;
    	float: left;
    	padding: 10px 24px;
    	position: relative;
    	text-decoration: none;
  	transition-duration: 0.5s;
	border-radius: 8px;
	
}

#main3 {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	
	min-height: 350px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #B0B7BC;
}
#sidebar1 {
	margin-top: 50px;
	background-color: darkorange;
	min-height: 808px;
	float: right;
	width: 460px;
}
#sidebar2 {
	margin-top: 50px;
	background-color: #990;
	min-height: 800px;
	margin-right: 2px; 
	float: right;
	width: 459px;
}
#column1 {
	margin-top: 50px;
	min-height: 500px;
	margin-left: 0;
	margin-right: 800px;
}

footer {
	Font: 10pt/1.5em Verdana, "Sans-serif", Arial;
	text-align: center;	
  	color: black;
	
}
#employees {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}

#products {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}

#dogsupplies {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}
	 
#catsupplies {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}

#fishsupplies {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}	

#main2 {	Font: 12pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 800px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
	
}
#doverroad {
	background-color: darkorange;
	margin-top: 64px;
	min-height: 800px;
	float: right;
	width: 640px;
}
#elmcourt {
	background-color: #990;
	margin-top: 64px;
	min-height: 800px;
	margin-right: 2px; 
	float: right;
	width: 640px;
}
#corporateoffice {
	min-height:800px;
	margin-top: 64px;
	margin-left: 0px;
	margin-right: 1284px;
	background-color: #c60c30;
}
#returns {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}
#delivery {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}
#financing {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}
#special {	Font: 14pt/1.5em Verdana, "Sans-serif", Arial;
	min-height: 350px;
	overflow: hidden;
	background-color: #B0B7BC;
	text-align: center;
}